main {
background-color: #000000 !important;
background-repeat: no-repeat;
background-size: cover;
} 

    /* change the input area*/
    .xl\:max-w-3xl {
        max-width: 95% !important;
    }
    /* change the message area*/
    .text-base {
        max-width: 100% !important;
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
/*    The width of the element takes up 100% of screen  */
    .relative.flex.w-full.flex-col {
    width: 100%;
    }

/* nav */
.sticky.top-0.flex.items-center {
  background-color: transparent;
  color: white;
}

/* mobile top bar */
.text-token-primary.sticky.top-0.z-10 {
  background-color: black;
}

/* source button */
[id*="radix"] {
  color: white;
  background-color: black;
}

.icon-md, button {
  color: white;
}

.flex.flex-1.gap-4.text-base.mx-auto {
  background-color: #29252400;
  backdrop-filter: blur(30px);
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 1px 1px 1px;
}

#prompt-textarea {
  background-color: black;
}

/* sender name */
.font-semibold {
  color: white;
}

p {
  color: white;
}

.flex.flex-grow.flex-col.max-w-full {
  color: white;
}
